on: 
  push:
    branches:
      - main
jobs:
  deploy_job:
    runs-on: ubuntu-latest
    name: Deploy
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      # Mostrar variables de entorno para depuración (sin exponer contraseñas)
      - name: Print server name
        run: echo ${{ secrets.FTP_SERVER }}

      - name: Deploy build files
        uses: wlixcc/SFTP-Deploy-Action@v1.2.4
        with:
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          server: ${{ secrets.FTP_SERVER }}
          port: 21  # Puerto estándar para FTP
          remote_path: '/home/easyappscompany/public_html'
          sftp_only: true
